* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
	background-color: #fff;
	color: #111;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.bg {
  z-index: 1;
}

.bg-controller {
  z-index: 2;
}
